/* ELIMINACION DE STANDARS DE TODO EL HTML */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

/*






        MAPA Y BOTONES









*/

/* FONDO DEL MAP */ 
div.backgroundMap {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Mapa/FondoMapa.jpg);
    width: 100%;
    margin: auto;
}

/* BOTON SOL MENU */
.solMap{
    position: absolute;
    left: 2.5%;
    top: 5.5%;
    content: url(../img/03_Assets/03_Mapa/Mapa/MenuMapa.svg);
    width: 10%;
}

.elRio{
    width: 5%;
    height: 5%;
    position: absolute;
    left: 22.5%;
    top: 41%;
}

.elBosqueSur{
    width: 10%;
    height: 7%;
    position: absolute;
    left: 1.5%;
    top: 130%;
}

.casaMiguel{
    width: 12%;
    height: 12%;
    position: absolute;
    left: 30.5%;
    top: 74%;
}

.laFuente{
    width: 12%;
    height: 20%;
    position: absolute;
    left: 48.5%;
    top: 95%;
}

.lasMontanias{
    width: 21%;
    height: 25%;
    position: absolute;
    left: 54.5%;
    top: 20%;
}

.elBosqueNorte{
    width: 11%;
    height: 10%;
    position: absolute;
    left: 78.5%;
    top: 37%;
}

.laIglesia{
    width: 10%;
    height: 17%;
    position: absolute;
    left: 87.5%;
    top: 55%;
}

.facultadArtes{
    width: 10%;
    height: 24%;
    position: absolute;
    left: 62.5%;
    top: 55%;
}

.casaNico{
    width: 10%;
    height: 15%;
    position: absolute;
    left: 73.5%;
    top: 93%;
}

.carreteraOscura{
    width: 15%;
    height: 10%;
    position: absolute;
    left: 67.5%;
    top: 123%;
}


/*






        TEXTOS Y FORMATOS









*/

.textFormat{
    color: white; 
    font-family: 'Helvetica';
    line-height : 20px;
    font-size: 15px;
}

.lyricsFormat{
    color: white; 
    font-family: 'Helvetica';
    line-height : 18px;
    font-size: 15px;
}

.linkFormat{
    text-decoration: underline;
}


/*






        HOMEEE!!









*/



/* FONDO DEL HOME */ 
div.backgroundHome {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Home.jpg);
    width: 100%;
    margin: auto;
}

/* BOTON CANCION1 HOME */ 
.rastro{
    position: absolute;
    left: 5%;
    top: 40%;
    content: url(../img/03_Assets/01_Home/Home_Cancion01_ElRastroDeTuSangreEnLaNieve.svg);
    width: 7%;
}

.rastro:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion01/Hover_Cancion01_ElRastroDeLaSangreEnTUNieve.svg);
    margin-top: 4px;
    transform: scale(1.18);
}

/* BOTON CANCION2 HOME */ 
.pueblo{
    position: absolute;
    left: 40%;
    top: 10%;
    content: url(../img/03_Assets/01_Home/Home_Cancion02_PuebloNomada.svg);
    width: 7%;
}

.pueblo:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion02/Hover_Cancion02_PuebloNomada.svg);
    margin-top: 4px;
    transform: scale(1.25);
}

/* BOTON CANCION3 HOME */ 
.bellas{
    position: absolute;
    left: 18%;
    top: 64%;
    content: url(../img/03_Assets/01_Home/Home_Cancion03_BellasArtes.svg);
    width: 7%;
}

.bellas:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion03/Hover_Cancion03_BellasArtes.svg);
    margin-top: 4px;
    transform: scale(1.25);
}

/* BOTON CANCION4 HOME */ 
.rooney{
    position: absolute;
    left: 57%;
    top: 15%;
    content: url(../img/03_Assets/01_Home/Home_Cancion04_RooneyMara.svg);
    width: 7%;
}

                        /* TRANSFORM:SCALE PORQUE LA FOTO TIENE DIMENSION DIFERENTE 
                            PARA EL HOVER */
.rooney:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion04/Hover_Cancion04_Rooney.svg);
    
}

/* BOTON CANCION5 HOME */ 
.paisajes{
    position: absolute;
    left: 30%;
    top: 88%;
    content: url(../img/03_Assets/01_Home/HomeCancion05_PaisajesPequenitos.svg);
    width: 7%;
}

.paisajes:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion05/Hover_Cancion05_PaisajesPequenitos.svg);
    margin-top: 4px;
    transform: scale(1.18);
}

/* BOTON CANCION6 HOME */ 
.federico{
    position: absolute;
    left: 73%;
    top: 40%;
    content: url(../img/03_Assets/01_Home/Home_Cancion06_Federico.svg);
    width: 7%;
}

.federico:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion06/Hover_Cancion06_Federico.svg);
    margin-top: 4px;
    transform: scale(1.18);
}

/* BOTON CANCION7 HOME */ 
.ponte{
    position: absolute;
    left: 40%;
    top: 114%;
    content: url(../img/03_Assets/01_Home/Home_Cancion07_PonteUnVestuario.svg);
    width: 7%;
}

.ponte:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion07/Hover_Cancion07_PonteUnVestuario.svg);
    margin-top: 4px;
    transform: scale(1.18);
}

/* BOTON CANCION8 HOME */ 
.feria{
    position: absolute;
    left: 89%;
    top: 55%;
    content: url(../img/03_Assets/01_Home/Home_Cancion08_FeriaGitana.svg);
    width: 7%;
}

.feria:hover{
    content: url(../img/03_Assets/02_Canciones/Cancion08/Hover_Cancion08_FeriaGitana.svg);
    margin-top: 4px;
    transform: scale(1.18);
}

/* BOTON SOL HOME */ 
.solHome{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/01_Home/Home_Menu.svg);
    width: 10%;
}

/*






        CANCIONES DETALLES Y VIDEOS









*/




/* FONDO DE LA CANCION1 */ 
div.backgroundSong1 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion01_ElRastroDeTuSangreEnLaNieve.jpg);
    width: 100%;
    margin: auto;
}

.rastroColor{
    position: absolute;
    left: 5%;
    top: 40%;
    content: url(../img/03_Assets/02_Canciones/Cancion01/Hover_Cancion01_ElRastroDeLaSangreEnTUNieve.svg);
    width: 9%;
}
 
.solRastro{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion01/Click_Menu_Cancion01_ElRastroDeTuSangreEnLaNieve.svg);
    width: 10%;
}

div.rastroPos{
    position: absolute;
    left: 50%;
    top: 10%;
    padding-right: 15%;
}


/* FONDO DE LA CANCION2 */ 
div.backgroundSong2 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion02_PuebloNomada.jpg);
    width: 100%;
    margin: auto;
}

.puebloColor{
    position: absolute;
    left: 40%;
    top: 10%;
    content: url(../img/03_Assets/02_Canciones/Cancion02/Hover_Cancion02_PuebloNomada.svg);
    width: 9%;
}
 
.solPueblo{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion02/ClickMenu_Cancion02_PuebloNomada.svg);
    width: 10%;
}

div.puebloPos{
    position: absolute;
    left: 50%;
    top: 10%;
    padding-right: 15%;
}

/* FONDO DE LA CANCION3 */ 
div.backgroundSong3 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion03_BellasArtes.jpg);
    width: 100%;
    margin: auto;
}

.bellasColor{
    position: absolute;
    left: 18%;
    top: 64%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Hover_Cancion03_BellasArtes.svg);
    width: 9%;
}
 
.solBellas{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/ClickMenu_Cancion03_BellasArtes.svg);
    width: 10%;
}

div.bellasPos{
    position: absolute;
    left: 57%;
    top: 10%;
    padding-right: 10%;
}


/* FONDO DE LA CANCION4 */ 
div.backgroundSong4 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion04_RooneyMara.jpg);
    width: 100%;
    margin: auto;
}

.rooneyColor{
    position: absolute;
    left: 18%;
    top: 64%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Hover_Cancion04_Rooney.svg);
    width: 9%;
}
 
.solRooney{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/CClickMenu_Cancion04_Rooney.svg);
    width: 10%;
}

div.rooneyPos{
    position: absolute;
    left: 57%;
    top: 10%;
    padding-right: 10%;
}


/* FONDO DE LA CANCION5 */ 
div.backgroundSong5 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion05_PaiajesPequeñitos.jpg);
    width: 100%;
    margin: auto;
}

.paisajesColor{
    position: absolute;
    left: 18%;
    top: 64%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Hover_Cancion05_PaisajesPequenitos.svg);
    width: 9%;
}
 
.solPaisajes{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/ClickMenu_Cancion05_PaisajesPequiñitos.svg);
    width: 10%;
}

div.paisajesPos{
    position: absolute;
    left: 57%;
    top: 10%;
    padding-right: 10%;
}


/* FONDO DE LA CANCION6 */ 
div.backgroundSong6 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion06_Federico.jpg);
    width: 100%;
    margin: auto;
}

.federicoColor{
    position: absolute;
    left: 18%;
    top: 64%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Hover_Cancion06_Federico.svg);
    width: 9%;
}
 
.solFederico{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/ClickMenu_Cancion06_Federico.svg);
    width: 10%;
}

div.federicoPos{
    position: absolute;
    left: 57%;
    top: 10%;
    padding-right: 10%;
}


/* FONDO DE LA CANCION7 */ 
div.backgroundSong7 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion07_PonteUnVestuario.jpg);
    width: 100%;
    margin: auto;
}

.ponteColor{
    position: absolute;
    left: 18%;
    top: 64%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Hover_Cancion07_PonteUnVestuario.svg);
    width: 9%;
}
 
.solPonte{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/ClickMenu_Cancion07_PonteUnVestuario.svg);
    width: 10%;
}

div.pontePos{
    position: absolute;
    left: 57%;
    top: 10%;
    padding-right: 10%;
}


/* FONDO DE LA CANCION8 */ 
div.backgroundSong8 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/Fondo_Cancion08_FeriaGitana.jpg);
    width: 100%;
    margin: auto;
}

.feriaColor{
    position: absolute;
    left: 18%;
    top: 64%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Hover_Cancion08_FeriaGitana.svg);
    width: 9%;
}
 
.solFeria{
    position: absolute;
    left: 5%;
    top: 5%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/ClickMenu_Cancion08_FeriaGitana.svg);
    width: 10%;
}

div.feriaPos{
    position: absolute;
    left: 57%;
    top: 10%;
    padding-right: 10%;
}

/*






        LIRICA DE LAS CANCIONES









*/

/* LYRICS 1 */

div.backgroundLyric1 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics01_Cancion01_ElRastroDeTuSangreEnLaNieve.jpg);
    width: 100%;
    margin: auto;
}

.rostroLyricPos1{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics1{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsRostro{
    position: absolute;
    left: 30%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion01/Lyrics_Imagen_Cancion01.svg);
}

/* LYRICS 2 */

div.backgroundLyric2 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics02_Cancion02_PuebloNomada.jpg);
    width: 100%;
    margin: auto;
}

.puebloLyricPos2{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics2{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsPueblo{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion02/Lyrics_Imagen_Cancion02.svg);
}

/* LYRICS 3 */

div.backgroundLyric3 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics03_Cancion03_BellasArtes.jpg);
    width: 100%;
    margin: auto;
}

.bellasLyricPos2{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics3{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsBellas{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Lyrics_Imagen_Cancion03.svg);
}

/* LYRICS 4 */

div.backgroundLyric4 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics04_Cancion04_RooneyMara.jpg);
    width: 100%;
    margin: auto;
}

.rooneyLyricPos1{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics4{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsRooney{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Lyrics_Imagen_Cancion04.svg);
}


/* LYRICS 5 */

div.backgroundLyric5 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics05_Cancion05_PaiajesPequeñitos.jpg);
    width: 100%;
    margin: auto;
}

.paisajesLyricPos1{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics5{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsPaisajes{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Lyrics_Imagen_Cancion05.svg);
}


/* LYRICS 6 */

div.backgroundLyric6 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics06_Cancion06_Federico.jpg);
    width: 100%;
    margin: auto;
}

.federicoLyricPos1{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics6{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsFederico{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Lyrics_Imagen_Cancion06.svg);
}


/* LYRICS 7 */

div.backgroundLyric7 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics07_Cancion07_PonteUnVestuario.jpg);
    width: 100%;
    margin: auto;
}

.ponteLyricPos1{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics7{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsPonte{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Lyrics_Imagen_Cancion07.svg);
}


/* LYRICS 8 */

div.backgroundLyric8 {
    justify-content: center;
    content: url(../img/03_Assets/00_Fondos/FondosLyrics/Fondo_Lyrics08_Cancion08_FeriaGitana.jpg);
    width: 100%;
    margin: auto;
}

.feriaLyricPos1{
    position: absolute;
    left: 5%;
    top: 40%;
}

.containerLyrics8{
    border: 4px solid;
    border-radius: 20px;
    width: 120%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #bdccd4;
}

.imgLyricsFeria{
    position: absolute;
    left: 35%;
    top: 10%;
    width: 50%;
    content: url(../img/03_Assets/02_Canciones/Cancion03/Lyrics_Imagen_Cancion08.svg);
}

/*






        LUGARES!!









*/

.solMap2{
    position: absolute;
    left: 2.5%;
    top: 5.5%;
    content: url(../img/03_Assets/03_Mapa/Mapa/MenuElementoMapa.svg);
    width: 10%;
}

div.backgroundMap1 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/BosquesRios/Fondo_BosquesYRio.jpg);
    width: 100%;
    margin: auto;
}

div.backgroundMap2 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/CasaMiguel/Fondo_CasaMiguel.jpg);
    width: 100%;
    margin: auto;
}

div.backgroundMap3 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/CasaNico/Fondo_CasaNico.jpg);
    width: 100%;
    margin: auto;
}

div.backgroundMap4 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/FacultadBellasArtes/Fondo_LaFacultadBellasArtes.jpg);
    width: 100%;
    margin: auto;
}

div.backgroundMap5 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/LaCarretera/Fondo_LaCarreteraOscura.jpg);
    width: 100%;
    margin: auto;
}

div.backgroundMap6 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/LaFuente/Fondo_LaFuente.jpg);
    width: 100%;
    margin: auto;
}

div.backgroundMap7 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/LaIglesia/Fondo_LaIglesia.jpg);
    width: 100%;
    margin: auto;
}

div.backgroundMap8 {
    justify-content: center;
    content: url(../img/03_Assets/03_Mapa/Elementos/LasMontañas/Fondo_LasMontañasNevadas.jpg);
    width: 100%;
    margin: auto;
}